@page
@model Bandymas.Models.SignIn
@Model = new SignIn()

@if (!ViewContext.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="from-validation"></div>
}

<form class="form-signin" asp-action="SignIn"
      >
    <h2>Please sign in</h2>
    <label class="sr-only">Username</label>
    <input type="text" class="form-control" placeholder="Username"
           asp-for="@Model.Username" />
    <label class="password">Password</label>
    <input type="text" class="form-control" placeholder="Password"
           asp-for="@Model.Password" />
    <button class="btn btn-primary btn-block">Sign In</button>
</form>